.region-container{
    margin: 0  1em ;
    display: flex;

}


.region-popup-content{
  width: 90vw !important;
}
.region-content{
  padding: 1em ;
    flex:4 1;
}

                                                       /* CSS */
.region-boton {

   border-radius: 12px;
   border-style: none;
   box-sizing: border-box;
   color: #2273ed;
    background-color: transparent;
   cursor: pointer;
   font-size: 16px;

   margin: 1em;
   max-width: none;

   outline: none;
   overflow: hidden;
   padding: 5px 6px 5px;
   position: relative;
   text-align: center;
   text-transform: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 100%;
    border: 2px solid #2273ed;
}

.region-boton:hover,

.region-boton-selected {
    /*opacity: .75;*/
    color: #ffffff;
    background-color: #2273ed;
}
.region-buton-container{
    display: flex;
    flex-direction: row;

}

.lugares-cards{
    max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
    .lugares-cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .lugares-cards { grid-template-columns: repeat(3, 1fr); }
  }